/* scroller */
.scroller {
  --primary-clr: hsl(var(--primary));


  mask: linear-gradient(90deg, transparent, var(--primary-clr) 20%, var(--primary-clr) 80%, transparent);
  -webkit-mask: linear-gradient(90deg, transparent, var(--primary-clr) 20%, var(--primary-clr) 80%, transparent);
  background: var(--primary-clr);
}

.scroller__inner {
  --gap: 2rem;
  display: flex;
  gap: var(--gap);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  animation: scroll 20s linear infinite;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - (var(--gap) / 2)));
  }
}